# Immich
UPLOAD_LOCATION=/mnt/data/immich/upload
DB_DATA_LOCATION=/mnt/data/immich/postgres
IMMICH_VERSION=release
DB_PASSWORD=changeme
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# Media
MEDIA_LOCATION=/mnt/data/media

# Navidrome
MUSIC_LOCATION=/mnt/data/media/My Music

# FileBrowser
DATA_ROOT=/mnt/data
