# Immich
UPLOAD_LOCATION=/mnt/data/immich/upload
DB_DATA_LOCATION=/mnt/data/immich/postgres
IMMICH_VERSION=release
DB_PASSWORD=changeme
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

# Jellyfin
MEDIA_LOCATION=/mnt/data/media

# FileBrowser
DATA_ROOT=/mnt/data
